<main>
  <section classe="view" *ngIf="isListView" >
            <div class="console">
              
              <form #myForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="movie-name">Title</label>
                  <input type="text" id="" name="movie-name" [(ngModel)]="dvdToUpDate.name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="movie-categorie">Genre</label>
                  <input type="movie-categorie" id="" name="movie-categorie" [(ngModel)]="dvdToUpDate.genre" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="Prix">Prix</label>
                  <input type="Prix" id="" name="Prix" [(ngModel)]="dvdToUpDate.prix" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="descriptif">Descriptif</label>
                  <input type="descriptif" id="" name="descriptif" [(ngModel)]="dvdToUpDate.descriptif" class="form-control" required>
                </div>
                <button type="submit" (click)="handleUpdateClickButton" class="btnAdd">Modifer</button>
                <button type="submit" (click)="handleUpdateClickButton" class="btnDel">Supprimer</button>
                <button type="submit" (click)="handleUpdateClickButton" class="btnSearch">Rechercher</button>
              </form>
            </div>

           
            <div class="movies-list ">
              <button class="showButton" (click)="toggleView()">Diaporama</button>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Cover</th>
                    <th>Name</th>
                    <th>Prix</th>
                    <th>Genre</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dvd of dvdToShow; let index =index">
                    <td>{{ dvd.id }}</td>
                   
                    <td><img [src]="dvd.imgPath" alt="Into The Wild DVD cover" /></td>
                    <td>{{ dvd.name }}</td>
                    <td>{{ dvd.genre }}</td>
                    <td>
                      <a [href]="'/dvds/' + index">
                        <img src="../../assets/images/edit.png" alt="edit icon" style="width: 40px" />
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </main>