.console {
         margin-top: 3vh;
         display: flex;
         float: left;
         align-items: center;
         background-color: #DDE8E9;
         margin-left:auto;
         border-radius: 22%;
         width: 34vw;
         height: 70vh;
         justify-content: space-around;
         
       }
       
       .input{
        margin-left: 10px;
        align-items: center;

       }
       .form-group{
         margin-top:12%;
         padding: 5px;
         justify-content :space-between;
        
        
       }