<div class="top-header">
    <div class="logoCompta">
        <img src="assets/images/logoCompta.png" alt="">
        <h2 class="titre">
            La bicyclette de la Compt'habilité
        </h2>
    </div>

    <div class="user">
        <a href="/login">
            <i class="fas fa-user"></i>
            <img src="assets/images/user.png" alt="connexion icon" style="width: 60px">
        </a>
    </div>
</div>
<div class="bot-header">
    <div class="left-bot-header">
        <h2>
            Dvd List
        </h2>
    </div>
    <div class="center-bot-header">
        <img src="assets/images/Labicyclette.png" alt="compagny logo" style="width: 140px">
    </div>
    <div class="right-bot-header">
        <h2>
            Customers
        </h2>
    </div>
</div>